
/* https://coolors.co/05668d-028090-00a896-02c39a-f3e0ec  #FFCAAF  34252F*/

/* Blue Sapphire
Night Blue B97
Teal Blue BG18
Bright Parrot Green G19
Pale Purple RV000 */

/* Global Style------------- */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Dancing Script', cursive; */


html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}



body{
    color:#028090;
    margin:0;
    padding:0;
    font-family: 'Oswald', sans-serif;
    line-height: 1.5;
   
    
}


img{
    width:300px;
}

a{
    /* color:#f3e0ec; */
    text-decoration: none;

}

a:hover{
    text-decoration: none;
}

h2{
     margin:0;
     font-family: 'Dancing Script', cursive;
     font-weight:lighter;
     letter-spacing:1px;
     font-size: 40px;
     margin: 0;
 }

.content-wrap{
    width:800px;
    margin:0 auto;
    padding: 60px 0;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-weight:lighter;
    letter-spacing:2.5px;
    font-size:100px;
    margin: 0;
    line-height: 1;

}

h3{
    letter-spacing:2px;
    margin:2px;
    padding-top: 10px;
}
p{
    margin: 1px;
}











/* Profile------------- */
header{
    
    color: white;
    
    text-align :center;
    background-image: url(https://picsum.photos/id/1045/1300/400?grayscale);
}





/* Projects------------- */
.projects{
    background-image:url(../images/sharon-mccutcheon-unsplash1.jpg) ;
    -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    color:#05668d;
    /* color: hsl(0, 0%, 30%); */

}

.projects .btn{
    color:#f3e0ec;
    background-color:#232023;
    text-decoration: none;
    padding:8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover{
    background:  hsl(0, 0%, 90%) ;
    color:#232023;
}

.project-item{
    overflow: hidden;
}

.project-item img{
    float: left;
    margin-right:20px;
    padding-top :30px;
    padding-bottom:30px;

    

}







/* work Experience------------- */
.work-experience{
    background: #02c39a;
}




/* Education------------- */
.content-wrap ul{
    list-style-type: none;
}

.education{
background-image: url(../images/ed.jpg);
background-position: top right;
background-size: cover;
padding-bottom: 100px;
-webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }




/* contact info------------- */
footer{
    background-color: #000000;
    /* background-color: hsl(0, 0%, 30%); */
    color:#f3e0ec ;
    text-align: center;
}
footer a{
    color:#f3e0ec ;
    padding: 10px;
    /* display:inline-block; */

}

.contact-list{
    padding:0;
    display:flex;
    justify-content:center;
    max-width:1000px;
    align-items:center;
    /* align-content:space-around; */
    padding:30px;
    margin:0 auto;
    
    
    
    
    
    


}
.contact-list div{
    
    width:33.33%;
    height:100px;
  

}
#git img{
    width:95px;
    height:55px;
    margin: 0 auto;
}



#in img{
    width: 55px;
    height:55px;
    margin: 0 auto;
    
    
}

#mail img{
    width: 70px;
    height:70px;
    margin: 0 auto;
    

    
    

}

#mail img:hover{
    /* width: 100px;
    height:100px;
    position: relative;
    bottom: 15px;
    right: 5px;
    transition: all 0.70s;
    overflow: hidden;  */

    
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        transition: all 1.00s;
}

#in img:hover{
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        transition: all 1.00s;
}


#git img:hover{
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        transition: all 1.00s;
}

header{
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    -ms-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
}

.projects{
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    -ms-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;

}

.education{
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    -ms-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
}